*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   overflow-x: hidden;
}
body{
   font-family: 'Courier New', Courier, monospace;
   background-color: #d5e1ea;
   display: flex;
   align-items: center;
   justify-content: center;
   /* height: 100vh; */
}
.mainContainer{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    /* max-width: 1200px; */
    height: 100vh;
    background-color: #ffffff;
}
.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    align-items: flex-start;
    padding-left: 30px;
    background-color: #cfd9e2;
}
.leftContainer h1{
    margin-left: 50px;
    margin-bottom: 15px;
    font-size: 24px;
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text_area{
    width: 75%;
    height: 220px;
    border: 2px solid #d57e8a;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 15px;
}
.add_color{
width: 10%;
margin-left: 10px;
/* align-items: center; */
/* justify-content: center; */
/* display: flex; */
}
.btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(45deg, #8d3b53, #706421);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all .3 ease;
    padding: 10px;
margin-left: 50px;
}
/* .btn:hover{
    transform: scale(1.05);
} */
.rightContainer{
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.rightContainer h1{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.container {
    position: relative;
    width: 200px; 
    height: 100px; 
    margin: 20px;
    display: inline-block;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.para{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.crossButton{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px; 
    color: #000; 
    font-weight: bold;
}

/* responsive for Tab */
@media(max-width: 768px){
    .mainContainer{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .leftContainer, .rightContainer{
          width: 100%;
          padding: 40px 10px;
          
    }
    .text_area{
        height: 120px;
        font-size: 14px; 
    }
    .btn{
        width: 100px;
        height: 40px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .leftContainer h1{
        font-size: 18px;
    }
    
    .rightContainer h1{
        font-size: 1rem;
    }
    .container{
        padding: 8px;
        font-size: 14px;
    }
    .crossButton{
        font-size: 16px;
    }
}



